pkgbase = mesa
	pkgdesc = Open-source OpenGL drivers
	pkgver = 26.2.0
	pkgrel = 5.3
	epoch = 1
	url = https://www.mesa3d.org/
	arch = aarch64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = clang
	makedepends = directx-headers
	makedepends = expat
	makedepends = glibc
	makedepends = libdisplay-info
	makedepends = libdrm
	makedepends = libelf
	makedepends = libgcc
	makedepends = libglvnd
	makedepends = libpng
	makedepends = libstdc++
	makedepends = libva
	makedepends = libx11
	makedepends = libxcb
	makedepends = libxext
	makedepends = libxml2
	makedepends = libxrandr
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = llvm
	makedepends = llvm-libs
	makedepends = lm_sensors
	makedepends = spirv-llvm-translator
	makedepends = spirv-tools
	makedepends = systemd-libs
	makedepends = vulkan-icd-loader
	makedepends = wayland
	makedepends = xcb-util-keysyms
	makedepends = zlib
	makedepends = zstd
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libclc
	makedepends = meson
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-ply
	makedepends = python-pycparser
	makedepends = python-yaml
	makedepends = wayland-protocols
	makedepends = xorgproto
	makedepends = valgrind
	makedepends = python-sphinx
	makedepends = python-sphinx-hawkmoth
	options = !lto
	source = mesa::git+https://github.com/lfdevs/mesa-for-android-container.git#tag=mesa-26.2.0-devel-20260709
	source = android-present-wait-fence.patch
	source = kgsl-deferred-submit-lifetime.patch
	sha256sums = SKIP
	sha256sums = 950ba42363613d9ccd3e812bb16469fff855827781b8d465716e782759b942fe
	sha256sums = 71ce44c556a7b5df350b90eb70311c2873e82475b30b385c8d661f81dc4afcea
	b2sums = SKIP
	b2sums = c269a84aa39f47890c35fe48d307f6c0e74545789fbaad71ed108df4b3e7f99613a046789b9342e0fad0aaff5756175e9e79d906427e50f47871f09e776af537
	b2sums = 0f38be25fbd4ba0d9bb3859a2ad2fded2405e3caface4df984c567e45f14f8159677597154c40f2cc289533be79aeb62966f2854ce83d8fa7404d05faff6391c

pkgname = mesa
	depends = expat
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = libgcc
	depends = libglvnd
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxshmfence
	depends = libxxf86vm
	depends = llvm-libs
	depends = lm_sensors
	depends = spirv-tools
	depends = wayland
	depends = zlib
	depends = zstd
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = mesa-libgl=1:26.2.0-5.3
	provides = opengl-driver
	conflicts = libva-mesa-driver<1:24.2.7-1
	conflicts = mesa-libgl<17.0.1-2
	replaces = libva-mesa-driver<1:24.2.7-1
	replaces = mesa-libgl<17.0.1-2

pkgname = vulkan-freedreno
	pkgdesc = Open-source Vulkan driver for Adreno GPUs
	depends = expat
	depends = glibc
	depends = libdisplay-info
	depends = libdrm
	depends = libgcc
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = spirv-tools
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = vulkan-mesa-implicit-layers
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = vulkan-mesa-implicit-layers
	pkgdesc = Mesa's implicit Vulkan layers
	depends = glibc
	depends = libdrm
	depends = libxcb
	depends = wayland
	conflicts = vulkan-mesa-device-select
	replaces = vulkan-mesa-device-select

pkgname = vulkan-mesa-layers
	pkgdesc = Mesa's explicit Vulkan layers
	depends = glibc
	depends = libgcc
	depends = libpng
	depends = libstdc++
	depends = python
	conflicts = vulkan-mesa-layer
	replaces = vulkan-mesa-layer

pkgname = mesa-docs
	pkgdesc = Mesa's documentation
